.whatMembersAreWearing{
    background-color: black;
}
.telegram{
    background-image: url("../../../images/card1.png");
    width: 100%;
    /* height: 298px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 6px 0px;
}
.bg h3{
    padding: 0 20% 0 0;
    font-size: 50px;
    text-align: left;
    font-weight: 600;
}
.bg p{
    padding: 0 50% 0 0;
    font-size: 18px;
    text-align: left;
}
.bg button{
    font-weight: 700;
    font-size: 22px;
}
.creativo{
    background-image: url("../../../images/card2.png");
    height: 298px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 6px 0px;
}
.nft-image{
    background-image: url("../../../images/thirdimage.jpeg");
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    padding: 6px 0px;
}
.upper-div h1{
    color:white;
    font-size: 50px;
    font-weight: 700;
}
.upper-div button{
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
}
.nft-section h1{
color: white;
font-size: 42px;
text-align: left;
}
.nft-section p{
    color: white;
    font-size: 24px;
    text-align: left;
}
.nft-heading span{
    color: white;
font-size: 42px;
}
.nft-img img{
    width: 90%;
}
.timeline h2{
    font-size: 40px !important;
    float: left;
    color: white !important;
}
.timeline ul, .timeline ul li{
    float: left;
    font-size: 18px;
}
.timeline p{
    float: left;
    text-align: left;
}
.Heading h2{
    color: white;
    font-size: 50px;
    margin: 20px 0px 70px 0px;
}
.video-section{
    width: 100%;
}
